<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CourseTempleteMapper">

	<resultMap id="BaseResultMap" type="domian.CourseTemplete">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cname" property="cname" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="DATE" />
		<result column="cdescribe" property="cdescribe" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="createdby" property="createdby" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="base_map" type="domian.CourseTemplete">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cname" property="cname" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="DATE" />
		<result column="cdescribe" property="cdescribe" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="createdby" property="createdby" jdbcType="VARCHAR" />
		<collection property="imagelocals" ofType="domian.Imagelocal"
			columnPrefix="img_">
			<id column="id" property="id" jdbcType="BIGINT" />
			<result column="iname" property="iname" jdbcType="VARCHAR" />
			<result column="size" property="size" jdbcType="VARCHAR" />
			<result column="ports" property="ports" jdbcType="VARCHAR" />
			<result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
			<result column="idescribe" property="idescribe" jdbcType="VARCHAR" />
			<result column="imageid" property="imageid" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from courseTemplete
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="domian.CourseTemplete"
		useGeneratedKeys="true" keyProperty="id">
		insert into courseTemplete (cname, createtime, cdescribe,
		img, createdby)
		values (#{cname,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE},
		#{cdescribe,jdbcType=VARCHAR},
		#{img,jdbcType=VARCHAR}, #{createdby,jdbcType=VARCHAR})
	</insert>

	<insert id="addRelation">
		insert into tmp_img (tmp_id,img_id) values (#{0},#{1})
	</insert>
	
	<insert id="deleteRelation">
		delete from tmp_img where tmp_id = #{id,jdbcType=BIGINT}
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="domian.CourseTemplete">
		update courseTemplete
		set cname = #{cname,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=DATE},
		cdescribe = #{cdescribe,jdbcType=VARCHAR},
		img = #{img,jdbcType=VARCHAR},
		createdby = #{createdby,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectByPrimaryKey" resultMap="base_map" parameterType="java.lang.Long">
		select c.id, c.cname, c.createtime, c.cdescribe, c.img,
		c.createdby,i.id as img_id ,i.iname as img_iname,i.size as
		img_size,i.ports as img_ports,i.createdtime as
		img_createdtime,i.idescribe as img_idescribe,i.imageid as img_imageid
		from courseTemplete c LEFT JOIN tmp_img m on m.tmp_id = c.id LEFT
		JOIN imagelocal i on m.img_id=i.id where c.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectAll" resultMap="base_map">
		select c.id, c.cname, c.createtime, c.cdescribe, c.img,
		c.createdby,i.id as img_id ,i.iname as img_name,i.size as
		img_size,i.ports as img_ports,i.createdtime as
		img_createdtime,i.idescribe as img_idescribe,i.imageid as img_imageid
		from courseTemplete c LEFT JOIN tmp_img m on m.tmp_id = c.id LEFT
		JOIN imagelocal i on m.img_id=i.id
	</select>
</mapper>